@import '../../styles/styles.scss';

#scroll-container svg {
    position: relative;
    z-index: 3;
    left: 25%;
    transform: translateX(-50%);
}

.form-scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-on-filteredpage {
    margin-top: 250px;
}

.scroll-down {
    color: white;
    text-shadow: -1px -1px 0 $transparentBlueColor, 1px -1px 0 $transparentBlueColor, -1px 1px 0 $transparentBlueColor, 1px 1px 0 $transparentBlueColor;
}

input {
    padding: 20px;
    width: 500px;
}

button:hover {
    cursor: pointer;
}
