$transparentBlueColor: hsl(233.88deg 50.21% 10.47% / 76%);
$fontFamily:'PT Serif';
$darkBlueColor: #25203c;
$dotInactiveColor: #46485d;
$dotActiveColor: #7c0909;
$transparantWhite: rgba(255, 255, 255, 0.8);