@import '../../styles/styles.scss';

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    margin-top: 10px;
}

.header-container h2 {
    font-size: 40px;
}

.welcome-message {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -1px -1px 0 $containerColor, 1px -1px 0 $containerColor, -1px 1px 0 $containerColor, 1px 1px 0 $containerColor;
  }
