@import './styles/styles.scss';

body {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; 
}

.main-info-container {
  width: 45vw;
  height: 60vh;
  background-color: $containerColor;
}

.pic-text-container p {
  width: 80%;
  height: 20%;
  margin: 0;
  overflow: hidden;
}

.image-size {
  width: 390px;
  height: 250px;
}

.dot-indicators {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background-color: #46485d;
  border-radius: 50%;
  border: -2px solid #2d325e;
  /* display: inline-block; */
  cursor: pointer;
  margin-left: 18px;
  padding: 10px;
}

.dot.active {
  background-color: #7c0909;
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 50px;
}

.park-detail-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 50px;
}

.image-info-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.singlepark-mainpage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.location-container {
  display: flex;
}

//THIS IS WHERE WE WILL ADD EACH COMPONENT TO EACH COMPONENT::after
#animation-container {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.header-container {
  height: 30vh;
  margin: 10px;
}

// .header-container p {
//   margin: 0;
// }

//in app?
// .content-container {
//   // background-color: $containerColor;
//   // margin: 60px;
//   display:flex;
//   // grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
//   // grid-gap: 100px;
//   justify-content: center;
// }

// .filtered-content-container {
//     // background-color: $containerColor;
//     margin: -50px;
// }
// .filtered-button-container {
//   display: flex;
//   flex-direction: column-reverse;
//   align-items: center;
// }

// .filtered-button-container {
//     flex-direction: column-reverse;
//     align-items: center;
// }


.pic-text-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

//Parks
.main-image-size {
  width: 24vw;
  height: 25vh;
}

.content-container {
  margin: 60px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home-button,
.filter-page-back-to-home-button,
.parkdetail-back-to-home-button {
  // position: relative;
  // bottom: 10px;
  // left: 10%;
  // transform: translateX(-50%);
  // z-index: 1; 
  padding: 20px;
  font-family: "PT Serif";
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: hsla(233.88, 50.21%, 10.47%, 0.76);
  font-size: 20px;
  font-weight: bold;
  // margin-top: 100px;
  margin-bottom: 60px;
  // left: 90%;
  // transform: translateX(175%);
}

.parkdetail-back-to-home-button {
  // left: 50%;
  transform: translateX(275%);
}

// .filter-page-back-to-home-button {
//   transform: translateX(175%);
// }

button {
  font-family: $fontFamily;
  color: white;
  // border-radius: 5%;
  outline: none;
  border: 2px solid $containerColor; 
  padding: 10px 20px; 
}

.message-container, 
.server-message-container, 
.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 $containerColor, 1px -1px 0 $containerColor, -1px 1px 0 $containerColor, 1px 1px 0 $containerColor;
}



.server-message-container {
  margin-top: 50px;
}

.logo {
  margin-top: -600px;
}

input {
  background-color: $containerColor;
  border: $containerColor;
  // border: 1px solid white; /* Add a 1px solid white border */
}

input, input::placeholder {
  color: white;
  font-size: 20px;
  font-family: $fontFamily;
}

.input-search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
}

.search-scroll-container {
  height: 20vh;
  margin: 200px;
}

.header-container,
.input-search-container {
  margin: 0;
  padding: 0;
}

.wrap-header-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

a {
  color: lightblue;
}


 
@media (min-width: 1298px) {
  .parks-container, .filtered-parks-container {
    // position: relative;
    // z-index: 1; 
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    place-items: center; /* Center both horizontally and vertically */
    // gap: 0px;
    // padding: 20px;
    // margin-left: 20px;
  }
}

@media (max-width: 1281px) {
  .parks-container, .filtered-parks-container {
    // position: relative;
    // z-index: 1; 
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1280px) {
  .parks-container, .filtered-parks-container {
    // position: relative;
    // z-index: 1; 
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-info-container {
    width: 60vw;
    height: 60vh;
    background-color: $containerColor;
  }
}

@media (max-width: 1153px) {
  .main-image-size {
    width: 36vw;
    height: 35vh;
  }
}

@media (max-width: 782px) {
  .main-image-size {
    width: 50vw;
    height: 25vh;
  }
  .logo {
    width: 60vw;
  }
  .header-container h2 {
    font-size: 20px !important;
  }
  .welcome-message {
    font-size: 15px !important;
  }
  .input-search-container {
    width: 60vw;
    height: 10vh;
  }
  #scroll-container {
    width: 30vw;
    height: 10vh;
    transform: translateX(-15%);
  }
  .scroll-down {
    font-size: 20px;
  }
  body {
    background-color: #25203c;
  }
}

@media (max-width: 782px) {
  .main-image-size {
    width: 40vw;
    height: 25vh;
  }
  
}

@media (max-width: 382px) {
  .main-image-size {
    width: 55vw;
    height: 25vh;
  }
  .input-search-container {
    width: 30vw;
    height: 10vh;
  }
  #scroll-container {
    width: 20vw;
    height: 10vh;
    transform: translateX(-1%);
  }
  .search-img-background img {
    width: 25px;
    height: 30px;
    display: block; /* Ensures the image is treated as a block element */
    margin: auto;   /* Centers the image horizontally */
  }
  .search-img-background {
    width: 50px;
    height: 50px;
  }
  input {
    height: 10px;
  }
  .scroll-down {
    font-size: 13px;
  }
}

@media (max-width: 305px) {
  .main-image-size {
    width: 55vw;
    height: 15vh;
  }
}