@import './styles/styles.scss';

body {
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-page {
  width: 100vw;
  height: 100vh;
}

.main-info-container {
  width: 45vw;
  height: 60vh;
  background-color: $transparentBlueColor;
}

.pic-text-container p {
  width: 100%;
  height: 20%;
  margin: 0;
}

.image-size {
  width: 390px;
  height: 250px;
}

.dot-indicators {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background-color: $dotInactiveColor;
  border-radius: 50%;
  border: -2px solid $darkBlueColor;
  cursor: pointer;
  margin-left: 18px;
  padding: 10px;
}

.dot.active {
  background-color: $dotActiveColor;
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 50px;
}

.park-detail-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 50px;
}

.image-info-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.singlepark-mainpage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.location-container {
  display: flex;
}

#animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header-container {
  height: 30vh;
  margin: 10px;
}

.pic-text-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main-image-size {
  width: 24vw;
  height: 25vh;
}

.content-container {
  margin: 60px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home-button,
.filter-page-back-to-home-button,
.parkdetail-back-to-home-button {
  padding: 20px;
  font-family: $fontFamily;
  border-radius: 10px;
  background-color: $transparantWhite;
  color: $transparentBlueColor;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
}

.parkdetail-back-to-home-button {
  transform: translateX(275%);
}

button {
  font-family: $fontFamily;
  color: white;
  outline: none;
  border: 2px solid $transparentBlueColor; 
  padding: 10px 20px; 
}

.not-found-container, 
.message-container, 
.server-message-container, 
.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 $transparentBlueColor, 1px -1px 0 $transparentBlueColor, -1px 1px 0 $transparentBlueColor, 1px 1px 0 $transparentBlueColor;
}

.message-container p,
.not-found-container,
.server-message-container {
  font-size: 30px
}

.server-message-container {
  margin-top: 50px;
}

.logo {
  margin-top: -600px;
}

input {
  background-color: $transparentBlueColor;
  border: $transparentBlueColor;
}

input, input::placeholder {
  color: white;
  font-size: 23px;
  font-family: $fontFamily;
}

.input-search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
}
.search-scroll-container {
  height: 20vh;
  margin: 200px;
}

.header-container,
.input-search-container {
  margin: 0;
  padding: 0;
}

.wrap-header-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: lightblue;
}
 
@media (min-width: 1298px) {
  .parks-container, 
  .filtered-parks-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    place-items: center; 
  }
}

@media (max-width: 1281px) {
  .main-info-container {
    width: 80vw;
    height: 50vh;
  }
  .parks-container, 
  .filtered-parks-container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1280px) {
  .main-info-container {
    width: 80vw;
    height: 50vh;
  }
  .parks-container, 
  .filtered-parks-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-info-container {
    width: 60vw;
    height: 60vh;
    background-color: $transparentBlueColor;
  }
}

@media (max-width: 1153px) {
  .main-info-container {
    width: 80vw;
    height: 80vh;
  }
  .main-image-size {
    width: 36vw;
    height: 35vh;
  }
}

@media (max-width: 963px) {
  .welcome-message {
    font-size: 30px !important;
  }
}

@media (max-width: 782px) {
  .welcome-message {
    font-size: 20px !important;
  }
  .main-info-container {
    width: 70vw;
    height: 60vh;
  }
  .main-image-size {
    width: 50vw;
    height: 25vh;
  }
  .logo {
    width: 60vw;
  }
  .header-container h2 {
    font-size: 20px !important;
  }
  .input-search-container {
    width: 60vw;
    height: 10vh;
  }
  #scroll-container {
    width: 30vw;
    height: 10vh;
    transform: translateX(-15%);
  }
  .scroll-down {
    font-size: 20px;
  }
  body {
    background-color: $darkBlueColor;
  }
  .main-image-size {
    width: 46vw;
    height: 25vh;
  } 
}

@media (max-width: 560px) {
  .welcome-message {
    font-size: 15px !important;
    text-align: center;
  }
  .main-info-container {
    width: 70vw;
    height: 80vh;
  }
  .main-image-size {
    width: 55vw;
    height: 25vh;
  }
  .input-search-container {
    width: 30vw;
    height: 10vh;
  }
  #scroll-container {
    width: 20vw;
    height: 10vh;
    transform: translateX(-1%);
  }
  .search-img-background img {
    width: 25px;
    height: 30px;
    display: block; 
    margin: auto;  
  }
  .search-img-background {
    width: 50px;
    height: 50px;
  }
  input {
    height: 10px;
  }
  input, input::placeholder {
    font-size: 12px;
    color: white;
    font-family: $fontFamily;
  }
  .scroll-down {
    font-size: 13px;
  }
  .parks-container {
    width: 80vw; 
    height: 100vh;
  }
}

@media (max-width: 305px) {
  .main-image-size {
    width: 55vw;
    height: 15vh;
  }
}
